
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



#mymap {
    border:4px solid #ddd;
	width: 100%;
	height: 500px;
}
body{
    background: #fff;
}
.body-hor {
    .container {
        width: 100%;
        padding: 0 40px;
    }
    .navbar-default {
        background-color: #353535;
        color: #fff;
        margin-bottom: 0px;
    }
    .navbar-brand {
        img {
            width: 75px;
            margin-top: -10px;
            z-index: 100;
        }
    }
    .logo-text {
        float: left;
        font-size: 24px;
        color: #fff;
        font-style: italic;
        margin-top: 10px;
        margin-left: -10px;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .map-hor{
        img {
            width: 100%;
            height: 500px;
        }
    }
    .red {
        background: red;
    }
    .blue {
        background: blue;
    }
    .helper-hor {
        margin-top: 20px;
        border-radius: 12px;
    }
    .control, .user-info {
        padding: 10px;
    }
    .control {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border: 1px solid #ccc;
        border-right: none;
    }
    .user-info {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border: 1px solid #ccc;
        border-left: none;
        padding-left: 0 20px;
    }
    // .user-info, .control {
    //     height: 200px;
    // }
    .user-ava, .user-ava + button {
        width: 150px;
    }
    .user-ava {
        img{
            max-width: 100%;
            margin-bottom: 15px;
            width: 150px;
            height: 100px;
        }
    }
    .login-user-info, .user-info {
        span {
            display: block;
            width: 100%;
        }
    }
    .user-hor{
        width: 70%;
        margin-top: 25px;
    }
    .ava-user-hor{
        float:left;
        margin-right: 50px;
    }
    .info-user-hor{
        float: left;
    }
    .slogan-hor {
        text-align: center;
        text-transform: uppercase;
    }
    .thumbnail.clearfix {
        height: 215px;
        .img-responsive {
            float: left;
            width: 300px;
            height: 200px;
        }
        .caption {
            overflow: hidden;
            h3 {
                margin-top: 0;
            }
        }
    }
    figure.thumbnail {
        border: none;
        background: transparent;
        img {
            width: 200px;
            height: 200px;
        }
    }
    footer{
        text-align: center;
        background: #353535;
        color: #fff;
        padding: 10px 0;
        p{
            margin: 0;
        }
    }
    .user-accaunt-ava {
        img {
         width: 100%;
         border-radius: 4px;
        }
        form {
            input {
                display: none;
            }
            label {
                margin-top: 10px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .user-accaunt-info{
        span{
            width: 100%;
            display: block;
            padding: 6px 12px;
            border-bottom: 1px solid #ccd0d2;
            margin-bottom: 25px;
        }
        textarea {
            width: 100%;
            resize: vertical;
            padding: 15px;
        }
        button.btn-danger.sos {
            margin-top: 10px;
            float: right;
            background-color: #dc1b08;
        }
    }
    .accaunt-maps-info {
        margin-top: 10px;
    }
    .error {
        display: none;
        color: red;
    }
    .gmnoprint {
        margin-top: 40px !important;
    }

}
